#Idea
/.idea/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
jspm_packages

/dist/

# too big files for commit
/handover_01/res/diz/psd/BOU_J007_extra_pages_desktop.psd
/handover_01/res/diz/psd/BOU_J007_extra_pages_mobile.psd

/**/.gulp/
